{% extends "newsletter/base.html" %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-6 mx-auto">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ mailing.start_time|date:"d.m.Y H:i"  }} - {{ mailing.end_time|date:"d.m.Y H:i"  }}</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-text fs-4">Статус: {{ object.status }}</h2>
                    <h2 class="lead mb-3">Получатели: {{ object.recipients}}</h2>
                    <h2 class="lead mb-3">Сообщение: {{ object.message | truncatechars:100 }}</h2>
                    <a class="btn btn-md btn-block btn-outline-primary mb-3" href="{% url 'newsletter:mailings' %}" role="button" >К рассылкам</a>
                </div>
            </div>
        </div>
    </div>
{% endblock%}