{% extends "newsletter/base.html" %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-6 mx-auto">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ message.subject }}</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-text fs-4">Сообщение: {{ object.body}}</h6>
                    <a class="btn btn-md btn-block btn-outline-primary mb-3" href="{% url 'newsletter:messages' %}" role="button" >К сообщениям</a>
                </div>
            </div>
        </div>
    </div>
{% endblock%}