{% extends "newsletter/base.html" %}
{% load my_tags %}

{% block create_button %}
<a class="btn btn-primary" href="{% url 'newsletter:recipient_create' %}" role="button">Создать получателя</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% for recipient in object_list%}
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ recipient.name }}</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-title pricing-card-title mb-3">{{ recipient.email }}</h6>
                    <div class="buttons-container d-flex flex-column w-100">

                        <!-- Суперпользователь: все действия -->
                        {% if user.is_superuser %}
                            <a class="btn btn-md btn-outline-success full-width-btn mb-3"
                               href="{% url 'newsletter:recipient_detail' recipient.pk %}">Посмотреть</a>
                            <a class="btn btn-md btn-outline-primary full-width-btn mb-3"
                               href="{% url 'newsletter:recipient_update' recipient.pk %}">Редактировать</a>
                            <a class="btn btn-md btn-outline-danger full-width-btn mb-3"
                               href="{% url 'newsletter:recipient_delete' recipient.pk %}">Удалить</a>

                        <!-- Менеджер: только просмотр ВСЕХ получателей -->
                        {% elif view.is_manager %}
                            <a class="btn btn-md btn-outline-success full-width-btn mb-3"
                               href="{% url 'newsletter:recipient_detail' recipient.pk %}">Посмотреть</a>


                        <!-- Пользователь: полный доступ к СВОИМ получателям -->
                        {% elif recipient.owner == user %}
                            <a class="btn btn-md btn-outline-success full-width-btn mb-3"
                               href="{% url 'newsletter:recipient_detail' recipient.pk %}">Посмотреть</a>
                            <a class="btn btn-md btn-outline-primary full-width-btn mb-3"
                               href="{% url 'newsletter:recipient_update' recipient.pk %}">Редактировать</a>
                            <a class="btn btn-md btn-outline-danger full-width-btn mb-3"
                               href="{% url 'newsletter:recipient_delete' recipient.pk %}">Удалить</a>
                        {% endif %}

                     </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock%}