{% extends "newsletter/base.html" %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-6 mx-auto">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ recipient.name }}</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-text fs-4">Почта: {{ object.email }}</h2>
                    <h2 class="lead mb-3">Комментарий: {{ object.comment | truncatechars:100 }}</h2>
                    <a class="btn btn-md btn-block btn-outline-primary mb-3" href="{% url 'newsletter:recipients' %}" role="button" >К получателям</a>
                </div>
            </div>
        </div>
    </div>
{% endblock%}