{% extends "newsletter/base.html" %}

{% block create_button %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% for user in object_list%}
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">ID: {{ user.id }}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title pricing-card-title mb-3">Почта: {{ user.email}}</h5>
                    <div class="buttons-container d-flex flex-column w-100">
                        {% if perms.users.can_block_user %}
                        <form action="{% url 'users:block_user' user.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn {% if user.is_active %}btn-danger{% else %}btn-success{% endif %}">
                                {% if user.is_active %}Заблокировать{% else %}Разблокировать{% endif %}
                            </button>

                        </form>
                        {% endif %}
                     </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock%}